.ocultar-requisitos {
    display: none;
}

.card-header{
    background-color: cornflowerblue!important;
    color: #F8F9FA!important;
}

.bg-primary{
    background-color: cornflowerblue!important;
}