.formulario {
    margin: 20px auto;
    width: 400px;
    padding: 20px;
    background-color: #ccc;
    border-radius: 10%;
}

form {
    text-align: center;
}

form label {
    text-align: left;
    width: 150px;
    margin: 5px 0;
    display: inline-block;
}
