.contenedor {
    background-image: url('../img/fondo.jpg');
    padding-top: 50px;
    height: 600px;
}

.contenedor h1 {
    text-align: center;
}

.centrar {
    margin: 60px auto;
    padding: 20px;
}

.formulario {
    background-color: rgba(92, 205, 162, 0.5);
    border-radius: 10%;
    width: 400px;
}

table th:nth-child(even), td:nth-child(even) {
    background-color: rgba(92, 182, 205, 0.5);
}

table th:nth-child(odd), td:nth-child(odd) {
    background-color: rgba(92, 205, 162, 0.5);
}

.mensaje {
    background-color: green;
    border-color: greenyellow;
    margin: 30px 50px;
    padding: 20px;
}

.tabla {
    padding: 20px 10px;
}

.filas {
    text-align: right;
}

.filas td {
    padding-right: 10px;
    padding-left: 5px;
}

form {
    text-align: center;
}

form label {
    text-align: left;
    font-weight: bold;
    width: 150px;
    margin: 10px 0;
    display: inline-block;
}

form input {
    padding: 4px;
}

.btn {
    padding: 5px 10px;
    margin-top: 10px;
}

.btn:hover {
    font-weight: bold;
    cursor: pointer;
}
