.contenedor {
    background-image: url('../img/fondo.jpg');
    padding-top: 50px;
    height: 600px;
}

.contenedor h1 {
    text-align: center;
}

.formulario {
    margin: 60px auto;
    width: 400px;
    padding: 20px;
    background-color: rgba(92, 205, 162, 0.5);
    border-radius: 10%;
}

form {
    text-align: center;
}

form label {
    text-align: left;
    font-weight: bold;
    width: 150px;
    margin: 10px 0;
    display: inline-block;
}

form input {
    padding: 4px;
}

.btn {
    padding: 5px 10px;
    margin-top: 10px;
}

.btn:hover {
    font-weight: bold;
    cursor: pointer;
}
