html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;  
  color: #F2C572;
}

header {
    background-color: #59462E;
}

.logout {
    padding: 5px;
    display: inline-block;
    position:fixed;
}

.logout:hover {
    background-color: #A67449;
}

.titulo{
    margin: 0 auto;
    padding: 50px 0;
    width: 700px;
    text-align: center;
}

.titulo h1 {
    display: inline;
    color: #D9BC9A;
}

.logo {
    width: 200px;
    height: 200px;
}

.nav {
    list-style: none;
    width: 600px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.nav li {
    display: inline-block;
    padding: 20px;
    margin-left: 20px;
}

.nav li:hover {
    background-color: #A67449;
}

.contenedor{
    display: flex;
    justify-content: center;
    min-height: calc(100% - 15vh - 290px);
    background-color: #E38109;
}

.contenedor form{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

.contenedor form label {
    color: #FF8E24;
}

.contenedor form input{
    padding: 10px 5px;
    text-align: center;
}

.contenedor form button{
    width: 150px;
    padding: 5px 15px;
}

.contenedor form button:hover{
    cursor: pointer;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 6%;
    background-color: cadetblue;
    color: white;
}

.footer {
    height: 15vh;
    background-color: #59462E;
}

.footer p {
    color: #F2C572;
}