* {
    margin: 0px;
    padding: 0px;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 0px auto;
    background-color: burlywood;
}

.titulo {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.titulo h1 {
    align-self: center;
    padding: 20px;
    font-size: 50px;
}

.logo {
    width: 200px;
    height: 200px;
}

.menu {
    margin-top: 50px;
    color: #fff;
}

.login {
    text-align: center;
    margin-top: 25%;
}

.login table {
    margin: auto;
}

.nav {
    padding-inline-start: 0px;
    display: flex;
    justify-content: space-around;
}

.nav li{
    float: left;
    list-style: none;
}

.nav li a {
    padding: 10px 12px;
    display: block;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
    padding: 0px;
}

.nav li:hover ul {
    display: block;
    background-color: mediumspringgreen;
}

