*{
    margin: 0;
    padding: 0;
}

.header{
    margin: 50px auto;
    text-align: center;
}

.contenedor{
    height: 500px;
    margin: 20px auto;
    text-align: center;
}

.contenedor form{
    display: inline-flex;
    flex-direction: column;
    row-gap: 20px;
}

.contenedor form fieldset{
    border: none;
}